body {
    background-color: white;
    margin: 0;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  .link {
    color: black;   
    transition: color .2s;
  }
  
  .link:hover {
    color: brown;
  }
  
  .header { 
    background-color: rgb(220, 245, 247);
    padding: 20px;
    border-bottom: 1px solid gray;
    text-align: center;
    flex: 0;
  }
  
  .header__link {
    margin: 0 10px;
  }
  
  .main {
    margin: 0 auto;
    width: 1000px;
    display: flex;
    flex-grow: 1;
    padding-top: 50px;
  }
  
  .aside {
    width: 300px;
    flex: 0;
  }
  
  .section__about {
    flex-grow: 1;
    padding-left: 50px;
  }
  
  .img {
    border: 1px solid purple;
  }
  
  .title {
    color: rgb(24, 46, 24);
    font-family: 'Vollkorn', serif;
  }
  
  .subtitle {
    border-left: 5px solid green;
    padding-left: 10px;
    color: rgb(49, 30, 30);
    margin-top: 30px;
    font-family: 'Vollkorn', serif;
  }
  
  .contacts {
    display: flex;
    align-items: center;
  }
  
  .contacts-icon {
    margin-right: 20px;
  }
  
  .footer {
    background-color: rgb(220, 245, 247);
    border-top: 1px solid gray;
    padding: 20px;
    text-align: center;
    color: gray;
  }